.icon-emergencia {
	content:url("../images/www.cooperanet.cl_icono_01.png");
	width:40px;
   	height:40px;
}

a.rap-notes-trigger {
	display:none;
	
}

#form_sign_in_yes{
  display: none;
}

.btn_email_va{
    display: inline-block;
    margin: 0;
    padding: 0.75em 1em;
    width: auto;
    height: auto;
    vertical-align: top;
    text-align: center;
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    font-family: inherit;
    text-decoration: none !important;
    color: #fff !important;
    cursor: pointer;
    background: #2d4373;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3b5998),color-stop(0%, #2d4373));
    background: -moz-linear-gradient(#3b5998,#2d4373);
    background: -o-linear-gradient(#3b5998,#2d4373);
    background: -webkit-linear-gradient(#3b5998,#2d4373);
    background: linear-gradient(#3b5998,#2d4373);
    border: 1px solid #3b5998;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

.BtnIryFiltrar {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color:#007dc1;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:16px;
  padding:10px 24px;
  text-decoration:none;
  text-shadow:0px 4px 10px #154682;
}
.BtnIryFiltrar:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  background-color:#0061a7;
}
.BtnIryFiltrar:active {
  position:relative;
  top:1px;
}


.campo_opcion_va {
    display: block;
    margin: 4px 2.2em;
    font-size: 13px;
    background-color: #fff;
    color: #0f69b4;
    max-width: 25em;
    vertical-align: top;
    height: 10em;
    line-height: 1.8em;
    padding: 0;
}

#BtnIryFiltrar{

  border : solid 0px #ffffff;
  border-radius : 0px 15px 15px 0px ;
  moz-border-radius : 0px 15px 15px 0px ;
  font-size : 19px;
  color : #ffffff;
  padding : 4px 15px;
  background-color : #4774b7;
}

#site-logo_va{
  display: block;
  width: 250px;
  height: 100px;
  top: 1em;
  left: 30px;
  background: url(/cobrands/cooperanet/images/cooperanet_logo_main.jpg) -3px -3px no-repeat;
  background-size: 215px;
  text-indent: -999999px;
  position: relative;
  z-index:1000;
}

.menumovil_va{
 display: inline-block;
}

.small-print {
  color:#666666;
}

.item-list__item {
    list-style: none;
    background-color: #f6f6f6;
    margin: 0.25em 0 0;
    padding: 0.5em 1em;
    display: block;
}


@media screen and (max-device-width: 480px) { 

  .container{
    background-color: #4774b7;
    padding: 0px 0px 0px;
  }

  .confirmation-header p {
    color: #FFFFFF;
  }

  .container_2_va {
    background-color: #FFFFFF;
    padding: 0px 0px 0px;
  }

  #front-recently {
    color:#FFFFFF;
  }

  .item-list__heading{
    color: #FFFFFF;
  }

  .item_list_status_va{
    color: #FFFFFF;
  }

  .small-print {
  color:#FFFFFF;
}

.item-list__item {
    list-style: none;
    background-color: #4774b7;
    margin: 0.25em 0 0;
    padding: 0.5em 1em;
    display: block;
}

#site-logo_va{
  display: block;
  width: 176px;
  height: 45px;
  top: 0px;
  left: 0px;
  background: url(/cobrands/cooperanet/images/cooperanet_logo_main.jpg) -1px -1px no-repeat;
  background-size: 140px;
  text-indent: -999999px;
  position: relative;
  z-index:1000;
  }

  a.report-cta {
  display:none;
  
}

#intcity-logo {
  height: 70px;
  top: 0px;
  left: 0px;
  background: url(/cobrands/cooperanet/images/mci-logo-platform.png) -1px -1px no-repeat;
  background-size: 244px;
  text-indent: -999999px;
  position: relative;
  z-index:1001;
  border-top: 0.25em solid #333;
}

a.report-cta {
  display:none;
  
}

#report-a-problem-main h3{
  font-size: 1.25em;
  line-height: 0.20em;
  margin-top: 1.2em;
  margin-bottom: -0.2em;
  font-weight: normal;
  color: #FFFFFF;

}

.report-list-filters_va {
    padding: 2px;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 10px;
    font-family: Lato;
    font-weight: bolder;
    display: none;
}

}

.campo_opcion_va {
    display: block;
    margin: 2px 5px;
    font-size: 13px;
    background-color: #fff;
    color: #0f69b4;
    max-width: 275px;
    vertical-align: top;
    height: 10em;
    line-height: 1.8em;
    padding: 6px;
}

#form_title_label_va {
  font-family: Lato;
  color: #FFFFFF;

}

#form_detail_label_va {
  font-family: Lato;
  color: #FFFFFF;
}

#form_category_label_va{
  font-family: Lato;
  color:#FFFFFF;
}

.form-control_va {
    color: #0f69b4;
    font-family: Lato;
    font-size: 15px;
    width: 275px;
    padding: 2px;
    margin-bottom: 12px;
    margin: 2px 5px 8px;
}

#form_category_label_va{
  font-family: Lato;
  color: #FFFFFF;
}

#do_va {
color: #FFFF7D;
}

#form_photo_label_va {
  font-family: Lato;
  color: #FFFFFF;
}

table.nicetable {
  background-color: #47748B;
}

}