.icon-emergencia {
	content:url("../images/www.cooperanet.cl_icono_01.png");
	width:40px;
   	height:40px;
}

a.rap-notes-trigger {
	display:none;
	
}


#site-logo_va{
  display: block;
  width: 602px;
  height: 100px;
  top: 3em;
  left: 40px;
  background: url(/cobrands/cooperanet/images/cooperanet_logo_main.jpg) -3px -3px no-repeat;
  background-size: 300px;
  text-indent: -999999px;
  position: relative;
  z-index:1000;
}


@media screen and (max-device-width: 480px) { 
#site-logo_va{
  display: block;
  width: 176px;
  height: 45px;
  top: 0px;
  left: -16px;
  background: url(/cobrands/cooperanet/images/cooperanet_logo_main.jpg) -1px -1px no-repeat;
  background-size: 140px;
  text-indent: -999999px;
  position: relative;
  z-index:1000;
  }

  a.report-cta {
  display:none;
  
}

#intcity-logo {
  height: 70px;
  top: 0px;
  left: 0px;
  background: url(/cobrands/cooperanet/images/mci-logo-platform.png) -1px -1px no-repeat;
  background-size: 244px;
  text-indent: -999999px;
  position: relative;
  z-index:1001;
  border-top: 0.25em solid #333;
}

a.report-cta {
  display:none;
  
}

}

