<div class="tablewrapper">
    <ul>
        <li class='cat-delito'><a href='#'>Delito</a></li>
        <li class='cat-emergencia'><a href='#'>Emergencia</a></li>
        <li class='cat-gestion-escolar'><a href='#'>Gestión Escolar</a></li>
        <li class='cat-gestion-local'><a href='#'>Gestión Local</a></li>
        <li class='cat-incivilidad'><a href='#'>Incivilidad</a></li>
        <li class='cat-control-de-espacios'><a href='#'>Control de Espacios</a></li>
            <ul><li>Domicilio abandonado, Lugar riesgoso, Ocupación ilegales</li></ul>
    </ul>
</div>


