<div class="tablewrapper">
        <div class='cat-emergencia'><a href='#'>Emergencia</a></div>
            <ul><li class='cat-sub'>Accidentes automovilístico, Caida de arboles, Nieve o escarcha peligrosa</li></ul>
        <div class='cat-delito'><a href='#'>Delito</a></div>
            <ul><li class='cat-sub'>Robo o hurto, Tráfico de drogas, Violencia intrafamiliar</li></ul>
        <div class='cat-gestion-escolar'><a href='#'>Gestión Escolar</a></div>
            <ul><li class='cat-sub'>Accidente escolar, Bullyng, Inasistencia injustificada</li></ul>
        <div class='cat-incivilidad'><a href='#'>Incivilidad</a></div>
            <ul><li class='cat-sub'>Carreras clandestinas, Consumo de alcohol en la vía pública, Riñas y desórdenes</li></ul>
        <div class='cat-gestion-local'><a href='#'>Gestión Local</a></div>
            <ul><li class='cat-sub'>Perros vagos, Vertedero ilegal, Calles en mal estado</li></ul>
        <div class='cat-control-de-espacios'><a href='#'>Control de Espacios</a></div>
            <ul><li class='cat-sub'>Domicilio abandonado, Lugar riesgoso, Ocupación ilegales</li></ul>
</div>