<div class="tablewrapper">
    <ul>
        <li class='cat-emergencia'><a href='#'>Emergencia</a></li>
            <ul><li>Accidentes automovilístico, Caida de arboles, Nieve o escarcha peligrosa</li></ul>
        <li class='cat-delito'><a href='#'>Delito</a></li>
            <ul><li>Robo o hurto, Tráfico de drogas, Violencia intrafamiliar</li></ul>
        <li class='cat-gestion-escolar'><a href='#'>Gestión Escolar</a></li>
            <ul><li>Accidente escolar, Bullyng, Inasistencia injustificada</li></ul>
        <li class='cat-incivilidad'><a href='#'>Incivilidad</a></li>
            <ul><li>Carreras clandestinas, Consumo de alcohol en la vía pública, Riñas y desórdenes</li></ul>
        <li class='cat-gestion-local'><a href='#'>Gestión Local</a></li>
            <ul><li>Perros vagos, Vertedero ilegal, Calles en mal estado</li></ul>
        <li class='cat-control-de-espacios'><a href='#'>Control de Espacios</a></li>
            <ul><li>Domicilio abandonado, Lugar riesgoso, Ocupación ilegales</li></ul>
    </ul>
</div>