[%
    SET html_att = ' lang="' _ lang_code _ '"';
    # For a right-to-left language, use the following line in your own header:
    # SET html_att = html_att _ ' dir="rtl"';
-%]
<!doctype html>
<!--[if IE 7]>   <html class="no-js ie7 iel8"[% html_att %]><![endif]-->
<!--[if IE 8]>   <html class="no-js ie8 iel8"[% html_att %]><![endif]-->
<!--[if IE 9]>   <html class="no-js ie9"[% html_att %]><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"[% html_att %]><!--<![endif]-->
    <head>
        <!-- va-ac Accordion Framework References -->
        <!-- VIEWPORT -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/ico" href="https://www.cooperanet.cl/cobrands/cooperanet/images/favicon.ico">
        
        <!-- REQUIRED STYLES -->
        <link rel="stylesheet" type="text/css" href="https://www.cooperanet.cl/cobrands/cooperanet/css/accordion-widget-structure.css">
        <link rel="stylesheet" type="text/css" href="https://www.cooperanet.cl/cobrands/cooperanet/css/themes/default/accordion-widget-settings.css">
        <link rel="stylesheet" type="text/css" href="https://www.cooperanet.cl/cobrands/cooperanet/css//themes/default/accordion-widget-theme.css">
        <link rel="stylesheet" type="text/css" href="https://www.cooperanet.cl/cobrands/cooperanet/css/themes/default/accordion-widget-animations.css">
        <link rel="stylesheet" type="text/css" href="https://www.cooperanet.cl/cobrands/cooperanet/css/accordion-widget-responsive.css">
        <link rel="stylesheet" type="text/css" href="https://www.cooperanet.cl/cobrands/cooperanet/css/home-icons.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
        
        <!-- FONT LINK -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic|Alegreya+Sans:400,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic|Poiret+One|Dosis:400,500,300,600,700,800|Lobster+Two:400,400italic,700,700italic|Raleway:400,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Roboto+Condensed:400,300italic,300,400italic,700,700italic|Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Courgette|Lato">
        <!-- .va-ac Accordion Framework References -->

        <meta name="viewport" content="initial-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="HandHeldFriendly" content="true">
        <meta name="mobileoptimized" content="0">

        [% INCLUDE 'header_opengraph.html' %]
        [%
           # For clarity, the 'fixmystreet' moniker (for fixmystreet.com) puts
           # it stylesheets under fixmystreet.com
           IF c.cobrand.moniker == 'fixmystreet';
               SET css_dir = 'fixmystreet.com';
           ELSE;
               SET css_dir = c.cobrand.moniker;
           END %]
        <link rel="stylesheet" href="[% version('/cobrands/' _ css_dir _ '/base.css') %]">
        <link rel="stylesheet" href="[% version('/cobrands/' _ css_dir _ '/layout.css') %]" media="(min-width:48em)">
        [% extra_css %]
        <!--[if (lt IE 9) & (!IEMobile)]>
            <link rel="stylesheet" href="[% version('/cobrands/' _ css_dir _ '/layout.css') %]">
        <![endif]-->

        [% INCLUDE 'common_header_tags.html' %]

        [% IF c.req.uri.host == 'osm.fixmystreet.com' %]
            <link rel="canonical" href="https://www.fixmystreet.com[% c.req.uri.path_query %]">
        [% END %]

        [% TRY %][% PROCESS 'header_extra.html' %][% CATCH file %][% END %]

    </head>
    [% TRY %][% PROCESS 'set_body_class.html' %][% CATCH file %][% END %]
    <body class="[% bodyclass | html IF bodyclass %]">

    <div class="wrapper">
        <div class="table-cell">
            [% INCLUDE 'header_site.html' %]
            [% pre_container_extra %]
            <div class="container" id="container">
                <div class="content[% " $mainclass" | html IF mainclass %]" role="main">
        <!-- [% INCLUDE 'debug_header.html' %] -->
