[% map_js = PROCESS 'front/javascript.html' %]

[% pre_container_extra = PROCESS 'around/postcode_form.html' %]
[% INCLUDE 'header.html', title = '', bodyclass = 'frontpage fullwidthpage' %]

[% IF error %]
    <p class="form-error">[% error %]</p>
[% END %]

<div class="tablewrapper">
	<ul>
		<li class='cat-control-de-espacios'><a href='#'>Control de Espacios</a></li>
		<li class='cat-delito'><a href='#'>Delito</a></li>
		<li class='cat-emergencia'><a href='#'>Emergencia</a></li>
		<li class='cat-gestion-escolar'><a href='#'>Gestión Escolar</a></li>
		<li class='cat-gestion-local'><a href='#'>Gestión Local</a></li>
		<li class='cat-incivilidad'><a href='#'>Incivilidad</a></li>
	</ul>
</div>

[% TRY %][% PROCESS 'front/pre-steps.html' %][% CATCH file %][% END %]

<div class="tablewrapper">
    <div id="front-howto">
        [% INCLUDE 'index-steps.html' %]
    </div>

    [% INCLUDE 'front/recent.html' %]
</div>

[% INCLUDE 'footer.html' pagefooter = 'yes' %]
