/* LAYOUT */

// If you are wanting a right-to-left layout, uncomment the following line.
// $direction: right;

/* COLOURS */

$orange: #ff9900;
$bluey: #6688ff;

$sunflowers: #fece00;
$starrynight: #037584;
//$irises: #007849;
$irises: #fff;
$evening: #262228;

$primary: $sunflowers;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: $irises;
$base_fg: #000;

$map_nav_bg: $irises;
$nav_fg: #000;
$nav_fg_hover: $primary;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: $evening;

$col_click_map: $evening;

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

// Logo Cooperanet
$image-sprite: '/cobrands/cooperanet/images/sprite.png';

// Logo MCI
#mysoc-logo{
	background-image:url("../cooperanet/images/mci-logo.png");
}
a.platform-logo{
	background-image:url("../cooperanet/images/mci-logo-platform.png") !important;
}