[%

email_summary = "Actualización de su dirección de correo electrónico en " _ site_name _;
email_columns = 1;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% only_column_style %]">
  <h1 style="[% h1_style %]">Cambio de su direccion de corre [% site_name %]</h1>
  <p style="[% p_style %]">Por favor haz click en el siguiente link para confirma la actualización de su dirección de correo electrónico en [% site_name %].</p>
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% c.uri_for_action( 'auth/token', token ) %]">Cambiar mi dirección de correo</a>
  </p>
  <p style="[% p_style %]">Si usted no desea realizar el cambio de corre simplemente ignore este correo.</p>
</th>

[% INCLUDE '_email_bottom.html' %]
